/**********************************************/
/** GENERAL************************************/
/**********************************************/
.square-button {
	height: 50px;
	width: 50px;
}

.square-button .glyphicon {
    margin-left: -4px;
    margin-top: 6px;
    font-size: 35px;
}
.dropdown-menu .dropdown-header{
    background-color: #078AA3;
    color: #ffffff;
    padding: 15px;
    font-weight: bold;
}

.dropdown-menu .glyphicon {
    font-size: 32px;
    margin-right: 15px;
    margin-top: -7px;
    color: #078AA3;
    vertical-align: middle;
}
/**********************************************/
/** NAVBAR  ***********************************/
/**********************************************/
.navbar-dx ul, ol {
	margin-bottom: 0;
}

.navbar-dx.shadow, .navbar-dx .MapSearchBar .input-group {
	-webkit-box-shadow: -1px 1px 5px 1px rgba(94,94,94,1);
	-moz-box-shadow: -1px 1px 5px 1px rgba(94,94,94,1);
	box-shadow: -1px 1px 5px 1px rgba(94,94,94,1);
}

.navbar-dx ul, ol {
	margin-bottom: 0;
}

.navbar .square-button {
	height: 50px;
	width: 50px;
}
.nav-menu {
    overflow-x: hidden;
    overflow-y: hidden;
}

.nav-content {
    position:absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.nav-body {
    position:absolute;
    top:50px;
    bottom: 0;
    overflow: auto;
    width: 100%;
}
/* button dividers */
#mapstore-navbar-container .dropdown-toggle, #mapstore-navbar-container .square-button {
  border-left: 1px solid #5C9FB4;
}

/* -------*/
/* Search */
/* -------*/
#mapstore-navbar .navbar-dx .MapSearchBar .input-group{
	width: 500px;
}
/* remove default inbox bootstrap shadow on focus for the input */
div.MapSearchBar .form-control:focus {
  box-shadow: none;
}

div.MapSearchBar .input-group-addon{
    height: 50px;
    width: 50px;
    color: #078aa3;
    margin-top: -8px;
    margin-left: -5px;
    border: 0px;
    border-radius: 0px;
    font-size:28px;
}
 #mapstore-navbar .navbar-dx .MapSearchBar .input-group-addon .searchclear {
    font-size:28px;
 }


#mapstore-navbar .navbar-dx .search-result-list{
    top: 55px;
}
.navbar-dx.shadow, .navbar-dx .MapSearchBar .input-group {
	-webkit-box-shadow: -1px 1px 5px 1px rgba(94,94,94,1);
	-moz-box-shadow: -1px 1px 5px 1px rgba(94,94,94,1);
	box-shadow: -1px 1px 5px 1px rgba(94,94,94,1);
}
#mapstore-navbar #helpbadge-null {
  position: absolute;
  left: -10px;
  bottom: -8px;
  z-index: 1
}

@media (max-width: 768px ) {
    #mapstore-navbar .search-toggle {
        display: inline-block;
    }
    #mapstore-navbar .MapSearchBar {
        width: 400px;
        top: 50px;
        left: auto;
    }

    #mapstore-navbar .search-result-list{
        top: 85px;
        left: auto;
        width: 400px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px ) {
    #mapstore-navbar .search-toggle {
        display: inline-block;
    }
    #mapstore-navbar .navbar-dx .MapSearchBar {
        position: fixed;
        left:1px;
        right: 1px;
        top: 50px;
        width: auto;
    }
    #mapstore-navbar .navbar-dx .MapSearchBar  .input-group {
      width: 100%;
    }
    #mapstore-navbar .navbar-dx .search-result-list{
        position: fixed;
        left:15px;
        right: 15px;
        top: 105px;
        width: 95%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #mapstore-navbar .MapSearchBar {
        width: 500px;
        right: auto;
    }
    #mapstore-navbar .search-result-list{
        width: 500px;
        right: auto;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #mapstore-navbar .MapSearchBar {
        width: 500px;
        position:absolute;
    }
    #mapstore-navbar .search-result-list{
        width: 500px;
        right: auto;
    }
}
/*--------- */
/* Dropdown */
/* -------- */
.navbar-dx .dropdown-menu .dropdown-header {
    background-color: #078AA3;

}
.navbar-dx .dropdown-menu {
  text-transform: uppercase;
}
.navbar-dx .dropdown-menu li {
  border-bottom: 1px solid #eeeeee;
}
.navbar-dx .dropdown-menu li a{
  max-height: 50px;
}
.navbar-dx .dropdown-menu li a span{
  position: relative;
}
/**********************************************/
/** NAVBAR  ***********************************/
/**********************************************/
.mapToolbar {
  box-shadow: -1px 1px 5px 1px rgba(94,94,94,1);
}
/* button dividers */
.mapToolbar.btn-group-vertical .btn {
  border-bottom: 2px solid #5C9FB4;
}
/* no divider for the last button */
.mapToolbar.btn-group-vertical .btn:last-child {
  border-bottom: 0px;
}
div#mapstore-globalspinner {
	width: 50px !important;
	height: 50px !important;
}


/**********************************************/
/** DRAWER MENU  ******************************/
/**********************************************/
#mapstore-drawermenu .glyphicon {
	font-size: 28px;
}
#mapstore-drawermenu .navHeader .glyphicon-remove {
	color: #078aa3;
}

#mapstore-drawermenu .panel-default > .panel-heading {
	color: #078AA3;
	font-weight: bold;
  background: transparent;
}
/* NAV BUTTONS */
#mapstore-drawermenu .navButtons .btn.square-button{
	font-size: 35px;
}
#mapstore-drawermenu .navButtons .btn.square-button .glyphicon{
	font-size: 35px;
}

/*-------*/
/*- TOC -*/
/*-------*/
#mapstore-drawermenu #mapstore-layers .toc-title, #mapstore-drawermenu #mapstore-layers .toc-group-title{
	position: relative;
}

/* VISIBILITY CHECK */
#mapstore-drawermenu #mapstore-layers .glyphicon, #mapstore-drawermenu #mapstore-layers .visibility-check.glyphicon{
    font-size: 30px;
		z-index: 2;
}
#mapstore-drawermenu #mapstore-layers .visibility-check.glyphicon{
	 float: left;
	 font-size: 30px;
	 margin-top: 0px;
}
#mapstore-drawermenu #mapstore-layers .toc-default-layer .visibility-check.glyphicon {
	font-size: 30px;
	margin-top: -5px;
}
#mapstore-drawermenu #mapstore-layers .visibility-check.glyphicon.visibility-check.checked {
		color: #078aa3;
}
#mapstore-drawermenu #mapstore-layers .toc-default-group > .visibility-check.glyphicon {
	margin-top: 5px;
}
/* GROUPS*/
#mapstore-drawermenu #mapstore-layers .group-expanded, .group-collapsed {
		padding: 5px 0px;
    border-bottom: 1px solid #dddddd;
}
#mapstore-drawermenu #mapstore-layers .toc-group-title {
	background:  transparent;
}
#mapstore-drawermenu #mapstore-layers .toc-default-layer .glyphicon {
	font-size: 23px;
	margin-top: -2px;
	color: #078aa3;
}
#mapstore-drawermenu #mapstore-layers .toc-group-title .glyphicon-folder-open,#mapstore-drawermenu #mapstore-layers .toc-group-title .glyphicon-folder-close {
	color: #078aa3;
}
#mapstore-drawermenu #mapstore-layers .toc-default-group {
	border-bottom: 1px solid #dddddd;
	padding: 5px 0;
}
#mapstore-drawermenu #mapstore-layers .toc-group-children {
    margin-left: 24px;
}
/* LAYER */
#mapstore-drawermenu #mapstore-layers .toc-default-layer {
    padding: 10px 0;
}
#mapstore-drawermenu #mapstore-layers .toc-layer-tool {
	font-size: 22px;
}
.toc-default-layer .toc-title {
	max-width: 140px;
}
.toc-default-layer .inline-spinner{
	position: relative;
  top: -7px
}
/* MEASURE PANEL */
#measure-result-panel .option-text {
    font-size: 14px;
    text-transform: uppercase;
    vertical-align: middle;
}

#measure-result-panel .option-icon {
    font-size: 32px;
    text-transform: uppercase;
    vertical-align: middle;
}

#measure-result-panel .glyphicon {
    margin-left: 0;
    margin-top: 0;
}

/* Various */
.no-border{
    border:none
}

.no-border:hover, .no-border:active, .no-border:active:focus, .no-border:focus{
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    outline: none;
}

#mapstore-getfeatureinfo .panel-body {
    padding: 0;
}

/* Leaflet minimap style */

.leaflet-control-minimap {
    border:solid rgba(7,138,163, 1.0) 4px !important;
}
.leaflet-control-minimap a {
    background-color: rgba(7,138,163, 1.0) !important;
}
.leaflet-control-minimap-toggle-display{
    background-image: url("../img/toggle.svg") !important;
}

.leaflet-oldie .leaflet-control-minimap-toggle-display{
    background-image: url("../img/toggle.png") !important;
}

/* OpenLayers minimap style */

.ol-custom-overviewmap button {
    background-color: rgba(7,138,163,1) !important;
}

.ol-custom-overviewmap button:hover, .ol-custom-overviewmap .ol-control button:focus {
    background-color: rgba(7,138,163,0.7) !important;
}

.ol-custom-overviewmap:not(.ol-collapsed) {
    background: rgba(7,138,163,1) !important;
    border-radius: 3px !important;
}

.ol-custom-overviewmap .ol-overviewmap-map {
    height: 133px !important;
}

.ol-custom-overviewmap {
    margin-bottom: 3px;
}

.btn-success{
    background-color: #398439 !important;
}

.btn-success:hover{
    background-color: #449d44 !important;
}
